* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f5c0f071;

}


nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.arco-iris {
    width: 150px;
}

.img-logo {
    text-align: right;
}

.menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.menu a:hover {
    color: #6607F5;
}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0px;
}

.menu ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
}


.logo {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f5c0f041;
    padding: 16px;
}

.baby-store {
    display: flex;
    align-items: end;

}

.bt-compra {
    padding: 6px 80px;
    color: #000;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0px 0px 4px #3c3c3c41;
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5c0f095;

}

.bt-compra:hover {
    box-shadow: 0px 0px 4px black;

}

h1 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;

}


img {
    width: 250px;
}


.inicio {
    text-align: center;
    padding: 32px 0px;
    background-color: #f5c0f041;
    border-left: 3px solid rgb(136, 0, 255);
    box-shadow: 0px 0px 4px rgb(38, 8, 36);
}

.inicio p {
    margin: 25px 0px;
}


.produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px 0px;
    padding: 8px;

}

.produtos-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.306);
    padding: 16px 0px;
    border-radius: 16px;
    margin: 20px;
    box-shadow: 0px 0px 4px black;
}


.rodape {
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 100px 0px;
    background-color: #f5c0f041;
}

.produtosTexto {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 0px;
}

.produtos-card img {
    border-radius: 4px;
}

.produtos-card img:hover {
    transition: transform 0.5s ease;
    transform: scale(1.04);
}

.container {
    margin: 16px;
}

@media (max-width: 769px) {


    .produtos {
        grid-template-columns: 1fr;
    }

    .produtos-card {
        margin: 30px 0px;
    }

    .menu ul {
        display: block;

    }

    .menu ul li {
        margin: 10px 0px;

    }

    .inicio h1 {
        display: block;
        font-size: 2.2rem;
    }

    .inicio p {
        font-size: 12px;
        padding: 16px;
    }

}